body{
    margin: 0px;
    height: 100vh;
    scroll-behavior: smooth;

}
.main{
    width: auto;
    height: 100vh;
    margin-top: -10rem;
    position: relative;
}
.interface {
    position: absolute;
    width: 100%;
    bottom: 0px;
    right: 0px;
    z-index: 999;
}
.interface img{
    position: relative;
    width: 100%;
    height: 100%;

}
.librairie{
    width: 100%;
    max-height: auto;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background-image: url("/images/bg2.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}
.main div{
    height: 100%;
    
}
.un {
    /* background-color: rgba(255, 0, 0, 0.502); */
    width: 28.04%;
    
}
.un img{
    width: 100%;
    cursor: pointer;
    /* display: none; */
}


.deux {
    /* background-color: rgba(30, 0, 255, 0.498); */
    width: 11.04%;

}
.deux img{
    width: 100%;
    cursor: pointer;

    /* display: none; */
}


.trois {
    /* background-color: rgba(94, 255, 0, 0.432); */
    width: 24.21%;
    position: relative;
}
.trois-bg{
    width: 100%;
    cursor: pointer;

    /* display: none; */
}
/* CSS pour les livres Vitrine */
.vitrine1{
    position: absolute;
    width: 5%;
    bottom: 58.1%;
    left: 47%;
    box-shadow: 0px 1px 1px black;
    z-index: 3;
    border-right: ridge 1px rgb(224, 220, 175);
}
.vitrine2{
    position: absolute;
    width: 5%;
    bottom: 58.1%;
    left: 58%;
    box-shadow: 0px 1px 1px black;
    z-index: 3;
    border-right: ridge 1px rgb(224, 220, 175);
}
.vitrine3{
    position: absolute;
    width: 5%;
    bottom: 54.8%;
    left: 53%;
    box-shadow: 0px 1px 1px black;
    z-index: 3;
    border-right: ridge 1px rgb(224, 220, 175);
}
.vitrine4{
    position: absolute;
    width: 5%;
    bottom: 51.1%;
    left: 47%;
    box-shadow: 0px 1px 1px black;
    z-index: 3;
    border-right: ridge 1px rgb(224, 220, 175);
}
.vitrine5{
    position: absolute;
    width: 5%;
    bottom: 51.1%;
    left: 58%;
    box-shadow: 0px 1px 1px black;
    z-index: 3;
    border-right: ridge 1px rgb(224, 220, 175);
}
/* CSS pour les livres coups de coeur sur l'îlot, SECTION TROIS. Ils se présentent de gauche à droite. */
.coeur1{
    position: absolute;
    width: 16%;
    bottom: 38%;
    left: 23%;
    box-shadow: 0px 2px 2px black;
    z-index: 3;
    border-right: ridge 3px rgb(224, 220, 175);
}
.coeur2{
    position: absolute;
    width: 12%;
    bottom: 42%;
    left: 36%;
    box-shadow: 0px 2px 2px black;
    border-right: ridge 3px rgb(224, 220, 175);
}
.coeur3{
    position: absolute;
    width: 14%;
    bottom: 40%;
    left: 48%;
    box-shadow: 0px 2px 2px black;
    border-right: ridge 3px rgb(224, 220, 175);
}
.quatre {
    /* background-color: rgba(242, 255, 0, 0.582); */
    width: 7.78%;
}
.quatre img{
    width: 100%;
    cursor: pointer;

    /* display: none; */
}
.cinq {
    /* background-color: rgba(0, 234, 255, 0.573); */
    width: 28.91%;
    position: relative;

}
.cinq-bg{
    width: 100%;
    cursor: pointer;

    /* display: none; */
}




/* CSS pour les livres présentation qui se situe sur l'étage tout à droite. Section 5 */

.presentation1{
    position: absolute;
    width: 20%;
    bottom: 27%;
    right: 20%;
    transform: rotateX(0deg) rotateY(65deg)rotateZ(10deg);
    border-right: ridge 20px rgb(169, 151, 119);
    /* border-top: groove 6px rgb(169, 151, 119); */

}
.presentation2{
    position: absolute;
    width: 23%;
    bottom: 24%;
    right: 2%;
    transform: rotateX(0deg) rotateY(65deg)rotateZ(10deg);
    border-right: ridge 20px rgb(169, 151, 119);
    /* border-top: groove 6px rgb(169, 151, 119); */

}