
body{
    margin: 0px 0px;
    width: auto;
    
}

 /* CSS DU HEADER */
header{
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.594);
}
header h1{
    margin-left: 2rem;
}
header nav ul{
    display: flex;
    flex-direction: row;
    margin-right: 3rem;
    gap: 1rem;
}
header nav ul a {
    text-decoration: none;
    font-weight: 600;
    font-size: 1.2rem;
    color: rgb(81, 154, 138);
}
header nav ul a:hover{
    color: rgb(42, 140, 107);
}

/* CSS de la HomePage */


.main{
    height: 100vh;
    width: 100%;
    display: flex;
    overflow: hidden;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    /* background-image: url('/images/librairie_vierge.png');
    background-size: contain;
    background-repeat: no-repeat; */
    background-color: rgb(255, 249, 240);
}


.main form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 50rem;
    gap: 1rem;
}
.main form input {
    width: 200px;
    height: 2rem;
    border-radius: 10px;
    border: solid 1px black;
}
button{
    width: 100px;
    height: 1.5rem;
    border-radius: 10px;
    border: solid 1px black;
}
.imgLibrairie{
    width: 60%;
    display: flex;
    justify-content: center;
}
.imgLibrairie img{
    width: 100%;
    max-width: 1000px;
}
.accroche{
    display: flex;
    width: 40%;
    margin-right: 3rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 8rem;

}

.accroche h1{
    font-size: 1.7rem;
    text-align: center;
    color: rgb(81, 154, 138);
    margin-top: 1rem;
    line-height: 100%;  
}
.accroche h4{
    font-size: 1.7rem;
    text-align: center;
    color: rgb(81, 154, 138);
    margin-top: 1rem;
    line-height: 70%;  
}
@keyframes fadeScroll {
    0%{opacity: 1;}
    50%{opacity: 0;}
    100%{opacity: 1;}

}
.btnlogin{
    background-color: rgb(81, 154, 138);
    width: 150px;
    height: 2rem;
    color: white;
    font-weight: 600;
    border: none;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.491);
    transition: 500ms;
    cursor: pointer;
    margin-bottom: -3rem;

}
.btnlogin:hover{
    transition: 500ms;
    scale: 1.1;
}
.btnsubscribe{
    background-color: rgb(197, 112, 138);
    width: 150px;
    height: 2rem;
    color: white;
    font-weight: 600;
    border: none;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.491);
    transition: 500ms;
    cursor: pointer;
}
.btnsubscribe:hover{
    transition: 500ms;
    scale: 1.1;
}
.btnHome{
    width: 100%;
    gap: 1rem;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.controllerScrollIcon{
    margin-top: 4rem;
    width: 100px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
@keyframes scroll_1 {
    0%   { transform: translateY(0); }
    25%  { transform: translateY(-0.6em); }
    50%  { transform: translateY(0); }
    75%  { transform: translateY(0.6em); }
    100% { transform: translateY(0); }
  }
  
  .scroll-icon__wheel-outer {
    display: block;
    position: absolute;
    left: 45%;
    top: .6em;
    height: 1em;
    width: .4em;
    margin-left: -.2em;
    border-radius: .2em;
    overflow: hidden;
    
  }
  
  .scroll-icon__wheel-inner {
    display: block;
    height: 100%;
    width: 100%;
    border-radius: inherit;
    background: rgb(197, 112, 138);;
    animation: scroll_1 2.75s ease-in-out infinite;
  }

  .scroll-icon {
    display: block;
    position: relative;
    height: 3em;
    width: 1.5em;
    border: .25em solid rgb(197, 112, 138);;
    border-radius: 1em;
    animation-name: fadeScroll;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
  }


/* Fiches */
  .containerFiches{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.fiche{
    width: 200px;
    height: 500px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 3rem 2rem;
    padding: 1rem 2rem;
    border-radius: 1rem;
    border: solid 1.5px rgb(52, 132, 46);
    background-color: antiquewhite;
    overflow-y: hidden;
    filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.598));

}
.fiche img{
    filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.598));
}
.description{
    font-size: 1rem;
    max-height: 200px;
    overflow: hidden;
    text-align: justify;
    font-weight: 400;
}