<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books World</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
    <header>
        <h1 style="color: rgb(81, 154, 138);">La croisée</h1>
        <nav>
            <ul>
                <a href="/">Accueil</a>
                <a href="/librairie">Librairie</a>
                <a href="/about">A propos</a>
                <%  if(user === null) {%>
                <a href="/login">Se connecter/S'inscrire</a>
                <% } %>
                <% if(user) { %>
                    <a href=""><p>Bonjour <%= user.firstname %></p></a>
                    <a href="/logout">Se déconnecter</a>
                <% } %>
            </ul>

        </nav>
    </header>