<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books World</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
    <header>
        <h1>Ma librairie</h1>
        <nav>
            <ul>
                <a href="/">Accueil</a>
                <a href="/about">A propos</a>
                <a href="/login">Se connecter/S'inscrire</a>
            </ul>

        </nav>
    </header>