
<body >
    <section style="width: 100vw; height: 100px; position: relative;"><%- include('./partials/header') %>
    </section>
        <form style="margin-top: 200px;" action="/search" method="get">
            <input type="text" name="title" id="title">
            <input type="text" name="auteur" id="auteur">
            <button>valider</button>
        </form>
     
    
</body>
</html>
