
<%- include('./partials/header') %>
<body>
    <form action="/search" method="get">
        <input type="text" name="title" id="title" placeholder="Titre du livre">
        <input type="text" name="author" id="author" placeholder="Auteur">
        <button>Valider</button>
    </form>
    
</body>
</html>
