
<%- include('./partials/header') %>
<body >

        <section class="main">
          <section class="imgLibrairie">
            <img src="/images/librairie_vierge.png" alt="">
          </section>

            <div class="accroche">
                <h1>La croisée, créez votre propre Univers de livres.</h1>
                <div class="btnHome">
                  <button class="btnsubscribe">M'inscrire</button>
                  <button class="btnlogin">Me connecter</button>
                </div>
                <div class="controllerScrollIcon">
                      <span class="scroll-icon">
                        <span class="scroll-icon__wheel-outer">
                          <span class="scroll-icon__wheel-inner"></span>
                        </span>
                      </span>
                      <h4>Scrollez,<br><span style="font-size: 1rem; ">pour explorer !</span></h4>
            </div>
        </section>
     
    
</body>
</html>
