
<%- include('./partials/header') %>
<body>
    
        <section class="main">

            <div class="titleLibrairy">
                    <h2 >La croisée</h2>
            </div>
            <div class="accroche">
                <h3>La croisée, créez votre propre Univers de livres.</h3>
                <button class="btnsubscribe">M'inscrire</button>
                <button class="btnlogin">Me connecter</button>
                <div class="controllerScrollIcon">
                      <span class="scroll-icon">
                        <span class="scroll-icon__wheel-outer">
                          <span class="scroll-icon__wheel-inner"></span>
                        </span>
                      </span>
                      <h4>Scrollez,<br><span style="font-size: 1.3rem; ">pour explorer !</span></h4>
            </div>
        </section>
         <!-- <form action="/search" method="get">
                <input type="text" name="title" id="title" placeholder="Titre du livre">
                <input type="text" name="author" id="author" placeholder="Auteur">
                <button id="searchBTN">Valider</button>
            </form> -->

            <section class="exploreOne">
                    <h2>test</h2>
            </section>
            <section class="exploreTwo">
                
            </section>
     
</body>
</html>
