<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styleLibrairie.css">
    <script src="../scripts/librairie.js" type="module" defer></script>
</head>
<body>
    <section class="main" id="main">
      <img style=" z-index: 99;width: 60px;height: 100px; position: absolute; left: 50px; top: 500px;" src="/images/exodus.jpg" alt="" id="btnBG">
        <section class="librairie" id="librairie">
            <section class="interface">
                <img src="/images/Interface.png" id="interface">
            </section>
            <div class="un">
                <img src="/images/un.png" alt="">
            </div>
            <div class="deux">
                <img src="/images/deux.png" alt="">
            </div>
            <div class="trois">
                  <!-- Les livres vitrine ! -->
                  <img class="vitrine1" src="https://m.media-amazon.com/images/I/61eQNge+6pL._AC_UF1000,1000_QL80_.jpg" alt="">
                  <img class="vitrine2" src="https://m.media-amazon.com/images/I/61eQNge+6pL._AC_UF1000,1000_QL80_.jpg" alt="">
                  <img class="vitrine3" src="https://m.media-amazon.com/images/I/61eQNge+6pL._AC_UF1000,1000_QL80_.jpg" alt="">
                  <img class="vitrine4" src="https://m.media-amazon.com/images/I/61eQNge+6pL._AC_UF1000,1000_QL80_.jpg" alt="">
                  <img class="vitrine5" src="https://m.media-amazon.com/images/I/61eQNge+6pL._AC_UF1000,1000_QL80_.jpg" alt="">


                <!-- Les livres coup de coeur qui apparaissent sur l'ilot central avec class Coeur -->
                <img class="coeur1" src="https://m.media-amazon.com/images/I/61eQNge+6pL._AC_UF1000,1000_QL80_.jpg" alt="">
                <img class="coeur2" src="https://m.media-amazon.com/images/I/61eQNge+6pL._AC_UF1000,1000_QL80_.jpg" alt="">
                <img class="coeur3" src="/images/exodus.jpg" alt="">
                <!-- Fin des livres coups de coeur -->
                <img class="trois-bg" src="/images/trois.png" alt="">
            </div>
            <div class="quatre">
                <img src="/images/quatre.png" alt="">
            </div>
            <div class="cinq">
            <!-- Les livres 'Présentation' qui apparaissent sur l'étagère tout à droite -->
                <img class="presentation1" src="https://m.media-amazon.com/images/I/61eQNge+6pL._AC_UF1000,1000_QL80_.jpg" alt="">
                <img class="presentation2" src="/images/exodus.jpg" alt="">

                <img class="cinq-bg" src="/images/cinq.png" alt="">
            </div>


        </section>
    </section>
</body>
</html>