

<body>
    <section style="position: relative; width: 100vw; height: 10px;">
        <%- include('./partials/header') %>

    </section>
   
    <form class="formLogin" action="/loginUser" method="post">
        <input name="mail" type="text" placeholder="Votre mail">
        <input name="password" type="password" placeholder="Votre mot de passe">
        <button>Valider</button>
    </form> 

</body>
